/* 헤더 css (고정) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* 1. tab 영역 css 설정 */
.tab-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: black;
    font-size: 20px;
}

/* 2. tab 메뉴 부분 디자인 */
.tab-area input {
    display: none;
}

.tab-area label {
    margin-left: auto;
    margin-right: auto;
}

/* label에 마우스 올렸을 때 */
.tab-area label:hover {
    cursor: pointer;
    /*마우스 모양 변경*/
}

/* tab-area 안에 존재하는 input 태그가 체크되었을 때, 
  체크된 input 태그 다음에 등장하는 label의 css 값 */
.tab-area input:checked + label {
    /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
    font-weight: bold;

}

/* 3. tab 내용 부분 디자인 */
.tab-content {
    width: 100%;
    /*부모 div width와 같은 width를 가진다.*/
    height: 500px;
    display: none;
    /*기본 값일땐 화면에 표시하지 않음. 체크 상태일 때, 화면에 표시되어야 함 */
    border-top: 2px solid rgba(200, 200, 200, 0.534);
    /*탭 메뉴와 내용구분선*/
}

/* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: flex;
}

/* 헤더 css (고정) */
.login {
    float: right;
    margin-right: 20px;
}
.menu {

    font-family: fantasy;
    float: right;
    display: flex;
    width: 83%;
    overflow: hidden;
    margin: auto;
}

.menu > li {
    width: 40%;
    /*20*2=40%*/
    float: left;
    text-align: center;
    line-height: 50px;
    /*background-color: beige;*/
}

.menu a {
    color: sienna;
}

.submenu > li {
    line-height: 50px;
    background-color: azure;
}

.submenu {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;

}
.menu > li:hover {
    background-color: skyblue;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 100px;
    /*서브메뉴 li한개의 높이 50*2*/
    transition-duration: 0.5s;
    background-color: white;
}

/* footer css (고정) */

.footer {
    position: relative;
    top: 200px;
    height: 200px;
    width: 100%;
    background-color: black;
}
.sns > a > img {
    position: relative;
    top: 20px;
    left: 2%;
    display: inline-block;
    background-color: white;
    border: 1px solid whitesmoke;
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}
.inform {
    position: relative;
    top: 70%;
    color: white;
    font-size: 5px;
}
.gul1 {
    float: left;
}
.gul2 {
    float: right;

}

.sideLeft {
    display: flex;
}

.slideImg {
    flex: 20%;
    margin: 30px;
}

.sideRight {
    flex: 70;
}

.sideRightName {
    margin-top: 50px;
}

.chooseOption {
    margin-top: 100px;
}

.optionSelect {
    font-size: 15px;
    width: 30%;
}

/* 버튼 시작 */
.button_base {
    font-size: 15px;
    position: relative;
    top: 50%;
    margin-top: -25px;
    width: 80px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: default;
}

.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: #000000;
}
/* 버튼 끝 */

/* 탭 */

.tap_link{
    display:none;
}
.tabs > li.current{
    display:inherit;
}