/* 헤더 css (고정) */
.login {
    float: right;
    margin-right: 20px;
}

*{margin:0; padding:0; box-sizing:border-box;}
ul,li{list-style:none;}
a{text-decoration: none;}
.menu {

    font-family: fantasy;
    float: right;
    display: flex;
    width: 83%;
    overflow: hidden;
    margin: auto;
}

.menu > li {
    width: 40%;
    /*20*2=40%*/
    float: left;
    text-align: center;
    line-height: 50px;
    /*background-color: beige;*/
}

.menu a {
    color: sienna;
}

.submenu > li {
    line-height: 50px;
    background-color: azure;
}

.submenu {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;

}
.menu > li:hover {
    background-color: skyblue;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 100px;
    /*서브메뉴 li한개의 높이 50*2*/
    transition-duration: 0.5s;
    background-color: white;
}
